<html xmlns:th = "http://www.thymleaf.org">
<html>
<head>
	<title>Customer Form</title>
	<!--
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	-->
	
	<!-- BOOTSTRAP REQUIREMENTS -->
	<meta charset = "utf-8">
	<meta name = "viewport" content = "width=device-width, initial-scale=1">
	<link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src = "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src = "https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	
	<!-- FIRA SANS CONDENSED FONT -->
	<link href = "https://fonts.googleapis.com/css?family=Fira Sans Condensed" rel = "stylesheet">
	<style>
		body
		{
			font-family : 'Fira Sans Condensed';
		}
		
		.table > tbody > tr > td
		{
			vertical-align : middle;
		}
	</style>
</head>
<body>
<div class = "container">
	<h2 class = "text-center">Customer Details</h2>
	
	<hr>
	
	<div class = "row">
		<div class = "col-sm-4"></div>
		<div class = "col-sm-4">
			<form action = "#" th:action = "@{/save}" th:object = "${customer}" method = "POST">
				<!-- hidden form field -->
				<input type = "hidden" th:field = "*{id}"/>
				<table style = "width: 100%;">
					<tr>
						<td>
							<div class = "form-group">
								<input type = "text"
								       th:field = "*{firstName}"
								       placeholder = "First name"
								       class = "form-control text-center">
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class = "form-group">
								<input type = "text"
								       th:field = "*{lastName}"
								       placeholder = "Last name"
								       class = "form-control text-center">
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class = "form-group">
								<input type = "text"
								       th:field = "*{email}"
								       placeholder = "Email"
								       class = "form-control text-center">
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<button type = "submit" style = "width: 100%" class = "btn btn-success">Save!</button>
						</td>
					</tr>
				</table>
			</form>
		</div>
		<div class = "col-sm-4"></div>
	</div>
	
	<hr>
	
	<div class = "row">
		<div class = "col-sm-4"></div>
		<div class = "col-sm-4">
			<a th:href = "@{/}" type = "button" class = "btn btn-outline-secondary btn-sm btn-block">Back to list</a>
		</div>
		<div class = "col-sm-4"></div>
	</div>
</div>
</body>
</html>