<html xmlns:th = "http://www.thymleaf.org">
<html>
<head>
    <title>Customer Form</title>
    <!--
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    -->
    
    <!-- BOOTSTRAP REQUIREMENTS -->
    <meta charset = "utf-8">
    <meta content = "width=device-width, initial-scale=1" name = "viewport">
    <link href = "https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel = "stylesheet">
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <!-- FIRA SANS CONDENSED FONT -->
    <link href = "https://fonts.googleapis.com/css?family=Fira Sans Condensed" rel = "stylesheet">
    <style>
        body
        {
            font-family : 'Fira Sans Condensed';
        }
        
        .table > tbody > tr > td
        {
            vertical-align : middle;
        }
    </style>
</head>
<body>
<div class = "container">
    <h2 class = "text-center">Customer Details</h2>
    
    <hr>
    
    <div class = "row">
        <div class = "col-sm-4"></div>
        <div class = "col-sm-4">
            <form action = "#" method = "POST" th:action = "@{/save}" th:object = "${customer}">
                <!-- hidden form field -->
                <input th:field = "*{id}" type = "hidden"/>
                <table style = "width: 100%;">
                    <tr>
                        <td>
                            <div class = "form-group">
                                <input class = "form-control text-center"
                                       placeholder = "First name"
                                       th:field = "*{firstName}"
                                       type = "text">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class = "form-group">
                                <input class = "form-control text-center"
                                       placeholder = "Last name"
                                       th:field = "*{lastName}"
                                       type = "text">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class = "form-group">
                                <input class = "form-control text-center"
                                       placeholder = "Email"
                                       th:field = "*{email}"
                                       type = "text">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class = "btn btn-success" style = "width: 100%" type = "submit">Save!</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class = "col-sm-4"></div>
    </div>
    
    <hr>
    
    <div class = "row">
        <div class = "col-sm-4"></div>
        <div class = "col-sm-4">
            <a class = "btn btn-outline-secondary btn-sm btn-block" th:href = "@{/}" type = "button">Back to list</a>
        </div>
        <div class = "col-sm-4"></div>
    </div>
</div>
</body>
</html>